*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 0px;
  font-family: southland;
  font-size: 100px;
}
/*Code copied from W3Schools*/
/*Fonts from Website; https://www.dafont.com/theme.php?cat=601*/


@font-face {
  font-family: southland;
  src: url(fonts/soutland\ TTF.ttf);
}
/*How to Add a Custom Fonts to Your Website YoutubeVideo*/


#subtitle {
  text-align: center;
}
#subtitle{
  margin-top: -160px;
  padding: 20px;
}


#generalInformation {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 10px;
  padding: 20px;
  width: 55%;
}
/*centering doesn't work, tried different methods*/

p {
  white-space: nowrap;
}

/*for the space a single <p><p/> in the html file*/


#pen {
  width: 100px;
}


#indexBody {
  background-color: rgb(255, 231, 203);
}

/*End of css code for index.html file*/


@font-face {
  font-family: EastAsian;
  src: url(fonts/EastAsianCalligraphyMingImperial-5308.ttf);
}
.EastAsian {
  display: inline-block;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
  font-family: EastAsian;
  src: url(fonts/EastAsianCalligraphyMingImperial-5308.ttf);
}
/*Inspiration from this website: https://dev.to/dawnind/3-ways-to-display-two-divs-side-by-side-3d8b*/

#h1EastAsian {
  font-family: EastAsian;
  font-size: 80px;
  text-align: center;
}
#TextEastAsian {
  margin-top: 10px;
  text-align: center;
}

#EAauswahlChina {
  border: 10px solid;
  width: 450px;
}

#ChinaWord {
  width: 200px;
  transform: rotate(20deg);
  position: absolute;
  top: 200px;
  left: 150px;
}

#Korea {
  width: 200px;
  transform: rotate(-10deg);
  position: absolute;
  top: 200px;
  right: 150px;
}

#Japan {
  width: 200px;
  transform: rotate(20deg);
  position: absolute;
  bottom: 150px;
  right: 150px;
}

#Vietnam {
  width: 200px;
  transform: rotate(-10deg);
  position: absolute;
  bottom: 130px;
  left: 150px;
}

#EastBody {
background-color: #F0F0A0;
}

/*End of css code for EastAsianCalligraphy.html file*/


#SouthernBody {
  background-color: #BAF0ED;
}

@font-face {
  font-family: SouthernAsian;
  src: url(fonts/SouthernAsianCalligraphyGoatskinBrushPersonalUse-RG5E.ttf);
}
.SouthernAsian {
  display: inline-block;
  border: 3px solid black;
  border-radius: 15px;
  padding: 9px;
  font-family: SouthernAsian;
  src: url(fonts/SouthernAsianCalligraphyGoatskinBrushPersonalUse-RG5E.ttf);
}
#h1SouthernAsian {
  font-family: SouthernAsian;
  font-size: 80px;
  text-align: center;
}
#TextSouthernAsian {
  margin-top: 10px;
  text-align: center;
}

#picSouthern {
  position: absolute;
  top: 250px;
  left: 200px;
  border: 10px solid;
  width: 400px;
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

#Lotus {
  width: 100px;
  position: absolute;
  top: 270px;
  right: 310px;
  animation: rotate 5s infinite linear
  }

  #sidenote {
    display: inline-block;
    border: 6px solid;
    padding: 9px;
    position: absolute;
    bottom: 150px;
    right: 150px;
  }

/*End of css code for SouthernAsian.html*/



#WesternBody{
  background-color: #F0C78F ;
}

@font-face {
  font-family: WesternCalligraphy;
  src: url(fonts/WesternCalligraphyLombard.ttf);
}
.Western {
  display: inline-block;
  border: 3px solid black;
  border-radius: 15px;
  padding: 9px;
  font-family: WesternCalligraphy;
  src: url(fonts/WesternCalligraphyLombard.ttf);
}
#h1Western {
  font-family: WesternCalligraphy;
  font-size: 80px;
  text-align: center;
}
#TextWestern {
  margin-top: 10px;
  text-align: center;
}

#picwestern {
  position: absolute;
  top: 200px;
  right: 400px;
  border: 10px solid;
  width: 450px
}

#cowboy {
  width: 150px;
  height: 150x;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:400px; top:-200px;}
  25%  {left:400px; top:-100px;}
  50%  {left:400px; top:50px;}
  75%  {left:400px; top:200px;}
  100% {left:400px; top:300px;}
}

#p1 {
  height: 100px;
}

#Latin {
  width: 200px;
  position: absolute;
  bottom: 150px;
  left: 200px;
  border: 10px solid;
}

/*End of css code for Western.html file*/


#IslamicBody {
  background-color: #D0B6F0;
}

/* most colors from adobe color-wheel*/


@font-face {
  font-family: IslamicCalligraphy;
  src: url(fonts/IslamicCalligraphyBahlullFreeVersionRegular-8M1VJ.ttf);
}
.Islamic {
  display: inline-block;
  border: 3px solid black;
  border-radius: 15px;
  padding: 1px;
  font-family: IslamicCalligraphy;
  src: url(fonts/IslamicCalligraphyBahlullFreeVersionRegular-8M1VJ.ttf);
}
#h1Islamic {
  font-family: IslamicCalligraphy;
  font-size: 80px;
  text-align: center;
}
#TextIslamic {
  margin-top: 10px;
  text-align: center;
}

#picislamic {
  border: 10px solid;
  width: 450px
}

#ramadan {
  width: 100px;
}

/*End of css code for Islamic.html file*/

.Home {
  border: 2px solid;
  border-color: black;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  top: 8px;
  left: 16px;
}

/*End of general css codes*/