*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: #dcf7e3;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
/*Code copied from W3Schools*/

h1{
  margin-top: 0px;
}

h1 {
  font-family: southland;
  font-size: 100px;
}
/*Fonts from Website; https://www.dafont.com/theme.php?cat=601*/


@font-face {
  font-family: southland;
  src: url(fonts/soutland\ TTF.ttf);
}
/*How to Add a Custom Fonts to Your Website YoutubeVideo*/


#subtitle {
  text-align: center;
}

#subtitle{
  margin-top: -160px;
  padding: 20px;
}


#generalInformation {
  text-align: center; /*centering doesn't work, tried different methods*/
  border-style: solid;
  border-width: 10px;
  padding: 20px;
  width: 55%;
}


#EastAsian {
  font-family: EastAsian;
}

#h1EastAsian {
  font-family: EastAsian;
  font-size: 80px;
  text-align: center;
}

#TextEastAsian {
  margin-top: 10px;
  text-align: center;
}

@font-face {
  font-family: EastAsian;
  src: url(fonts/EastAsianCalligraphyMingImperial-5308.ttf);
}
.EastAsian {
  display: inline-block;
  border: 10px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
  font-family: EastAsian;
  src: url(fonts/EastAsianCalligraphyMingImperial-5308.ttf);
}
/*Inspiration from this website: https://dev.to/dawnind/3-ways-to-display-two-divs-side-by-side-3d8b*/


@font-face {
  font-family: SouthernAsian;
  src: url(fonts/SouthernAsianCalligraphyGoatskinBrushPersonalUse-RG5E.ttf);
}
.SouthernAsian {
  display: inline-block;
  border: 10px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
  font-family: SouthernAsian;
  src: url(fonts/SouthernAsianCalligraphyGoatskinBrushPersonalUse-RG5E.ttf);
}


@font-face {
  font-family: WesternCalligraphy;
  src: url(fonts/WesternCalligraphyLombard.ttf);
}
.Western {
  display: inline-block;
  border: 10px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
  font-family: WesternCalligraphy;
  src: url(fonts/WesternCalligraphyLombard.ttf);
}


@font-face {
  font-family: IslamicCalligraphy;
  src: url(fonts/IslamicCalligraphyBahlullFreeVersionRegular-8M1VJ.ttf);
}
.Islamic {
  display: inline-block;
  border: 10px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
  font-family: IslamicCalligraphy;
  src: url(fonts/IslamicCalligraphyBahlullFreeVersionRegular-8M1VJ.ttf);
}






